body {background-color: grey;margin-left: 5%;
	margin-right: 5%;color: black;
	font-family: charcoal, sans-serif;
}ul.pages {list-style-type: none;margin: 0;
	padding: 0;overflow: hidden;
}li.page {float: right;list-style-type: none;
}a.page:link, a.page:visited {display: block;
	width: 200px;font-weight: bold;color: #FFFFFF;
	background-color: #98bf21;text-align: center;
	padding: 4px;text-decoration: none;text-transform: uppercase;
}a.page:hover, a.page:active {background-color: #7A991A;}
.linesegment {text-decoration: overline;}
.udln {text-decoration: underline;}
.title {background-color: red;}
.ind, p {text-indent: 50px;}
div.main {background-color: white;}
div.main2 {background-color: white;margin-left: 2%;
	margin-right: 2%;
}.pagenavn {text-align: center;text-decoration: underline;
	background: blue;color: white;
}.bad {background-color: red;}
.scr {color: white;}
a.hostbtn {text-align: center;}	
